@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import "react-alice-carousel/lib/alice-carousel.css";
*{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#\:r3\:-label{
  color: white;
}

#\:r3\:{
  color:white
}

#root > div.app > div > div > div.MuiTabs-root.css-1ujnqem-MuiTabs-root > div > div > button.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.Mui-selected.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
  color: white;
}

#root > div.app > div > div > div.MuiTabs-root.css-1ujnqem-MuiTabs-root > div > div > button{
  color: white;
}
#root > div.app > div > div > div > nav > ul > li > button{
  color: white;
}
#root > div.app > div > div > div > nav > ul > li > div{
  color: white;
}